name: Bazel

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          repository-cache: true

      - name: Test
        run: |
          cd examples
          bazel test //... --test_output=all

      - name: Test json (uncached test results)
        run: |
          cd examples
          bazel test --config=json //... --test_output=all --cache_test_results=no

      - name: Test failing test
        run: |
          cd examples
          ./verify_test_fails.sh
